*{
 font-family: roboto;
  font-size: medium;
}

.dropdown{
  float: right;
  margin-right: 0;
}
.italic{
  font-style: normal;
}

.heading{
  font-style: italic;
  font-family: roboto;
  font-size:larger;
}

.blog-preview a {
  text-decoration: none;
}



.footer{
  
  bottom: 0;
  
}  

img{
  width: 100%;
}

.welcome{
  position: relative;
  top: 5vh;
  width: 100%;

}

