*{
  font-family: roboto;
   font-size: medium;
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-item:hover {
background: gold;
color: black;
}

.btn {
  outline: none;
}

.parent{
  position: relative;
  min-height: 100vh;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
}